h1 {
    font-size: 2.625rem;  /* 42 px*/
    text-transform: upercase;
    text-align: center;
}

p {
    font-size: 1.25rem;  /* 20px */
    line-height: 1.4;  /* Gap between each line is 140% */
    font-family: sans-serif;
}

span {
    text-transform: uppercase;
    font-size: 0.875rem;  /* 14px */
}

ul {
    list-style: none;
}